.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;

  li {
    a {
      color: #fe5f1e;
      padding: 20px;
      border: 1px solid #fe5f1e;
      align-items: center;
      cursor: pointer;
      background-color: #ffffff;
      font-size: 20px;
      border-radius: 30%;
    }
  }
  li:hover {
    a {
      color: rgb(255, 255, 255);
      background-color: #fe5f1e;
    }
  }

  li:active {
    scale: 0.95;
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #ffffff;
      }
    }
  }
}
