.search {
  position: relative;
  margin: 0 10px;
}

.search-input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  padding-left: 40px;
  width: 300px;
  border-radius: 10px;
  font-size: 15px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.search-icon {
  position: absolute;
  left: 5px;
  top: 7px;
  opacity: 0.5;
  width: 24px;
  height: 24px;
}

.cross-icon {
  position: absolute;
  right: 7px;
  top: 30%;
  opacity: 0.5;
  width: 15px;
  height: 15px;
  cursor: pointer;

  &:active {
    scale: 0.95;
  }
}
